/* Ajuste para centrar las cartas en el medio de la página */
#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
}

#testimonials .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente */
}

#testimonials .card {
    width: 300px;
    min-height: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#testimonials .testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

#testimonials .card-body h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#testimonials .testimonial-card .card-up {
    height: 100px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


#student-announcements .announcement-item {
    padding: 10px;
    border-radius: 5px;
}

#student-announcements .card-header {
    font-size: 1.25rem;
}

#student-announcements .announcement-item h5 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#student-announcements .btn {
    width: 100%;
}

#anuncio-alumno-section .card-title {
    font-size: 1.75rem;
}

#anuncio-alumno-section .card-text {
    font-size: 1.1rem;
}

#anuncio-alumno-section .btn {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    #anuncio-alumno-section .card-title {
        font-size: 1.5rem;
    }

    #anuncio-alumno-section .card-text {
        font-size: 1rem;
    }
}




