{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<h2>Asignar Curso a Profesor</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="profesor">Seleccionar Profesor</label>
        <select name="profesor" id="profesor" class="form-control">
            {% for profesor in profesores %}
            <option value="{{ profesor.id }}">{{ profesor.primer_nombre }} {{ profesor.primer_apellido }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="curso">Seleccionar Curso</label>
        <select name="curso" id="curso" class="form-control">
            {% for curso in cursos %}
            <option value="{{ curso.id }}">{{ curso.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Asignar Curso</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
