<!doctype html>
<html lang="en">
  {% load static %}
  {% load humanize %}
  <head>
    <title>Aula Virtual</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style-content.css' %}">
    <script src="{% static 'app/js/mensajeusuarios.js' %}"></script>
  </head>
  <body>
    
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('{% static "app/images/logo.jpg" %}');"></a>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="#">Perfil</a>
            </li>
            <li>
              <a href="#">Notas</a>
            </li>
            <li>
              <a href="#">Asistencia</a>
            </li>
            <li>
              <a href="#">Horario</a>
            </li>
            <li>
              <a href="#">Anotaciones</a>
            </li>
            <li>
              <a href="#">Anuncios</a>
            </li>
            <li>
              <a href="#">Calendario</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">
        {% block content %}
        <!-- Aquí va el contenido de cada página específica -->
        {% endblock %}
      </div>

    </div>

    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <script src="{% static 'app/js/popper.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  </body>
</html>