{% extends 'app/profesor/baseprofesor.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <a href="/ruta-placeholder/" class="text-decoration-none"> <!-- Aqui es donde se coloca el href-->
                <div class="card">
                    <span class="star-icon">★</span>
                    <img src="https://via.placeholder.com/100" alt="Libros"> <!-- Imagenes aqui-->
                    <div class="card-body">
                        <h5 class="card-title">Primero Medio A</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>





{% endblock %}