{% extends 'app/profesor/baseprofesor.html' %}
{% load static %}

{% load humanize %}

{% block content %}




<div class="container mt-5">
    <!-- Unidad 1 -->
    <div class="unidad" data-toggle="collapse" data-target="#contenido1">
        <div class="unidad-header">
            UNIDAD 1
            <i class="arrow fas fa-chevron-down"></i>
        </div>
        <div id="contenido1" class="collapse">
            <div class="recursos">
                <p>No hay contenido disponible.</p>
                <p>No hay contenido disponible.</p>
                <p>No hay contenido disponible.</p>
                <p>No hay contenido disponible.</p>
                <p>No hay contenido disponible.</p>
                <p>No hay contenido disponible.</p>

            </div>
            <!-- Botón "Agregar contenido" solo visible para profesores -->
            <button type="button" class="btn btn-primary btn-agregar" data-toggle="modal" data-target="#modalAgregarContenido">Agregar Contenido</button>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarContenido" tabindex="-1" role="dialog" aria-labelledby="modalAgregarContenidoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarContenidoLabel">Agregar Contenido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el formulario o los campos para agregar el contenido -->
                <form>
                    <div class="form-group">
                        <label for="descripcion">Descripción del Contenido</label>
                        <input type="text" class="form-control" id="descripcion" placeholder="Descripción">
                    </div>
                    <div class="form-group">
                        <label for="archivo">Seleccionar Archivo</label>
                        <input type="file" class="form-control-file" id="archivo">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}