{% extends 'app/profesor/baseprofesor.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <a href="/asistencia/" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/50" alt="Asistencia">
                    <div class="card-footer">Asistencia</div>
                </div>
            </a>
        </div>


        <div class="col-md-4">
            <a href="/notas/" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/50" alt="Notas">
                    <div class="card-footer">Notas</div>
                </div>
            </a>
        </div>


        <div class="col-md-4">
            <a href="/anuncios/" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/50" alt="Anuncios">
                    <div class="card-footer">Anuncios</div>
                </div>
            </a>
        </div>


        <div class="col-md-4">
            <a href="{% url 'profesormaterial' curso.id %}" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/50" alt="Material">
                    <div class="card-footer">Material</div>
                </div>
            </a>
        </div>


        <div class="col-md-4">
            <a href="/anotaciones/" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/50" alt="Anotaciones">
                    <div class="card-footer">Anotaciones</div>
                </div>
            </a>
        </div>

        
        <div class="col-md-4">
            <a href="/calendario/" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/50" alt="Calendario">
                    <div class="card-footer">Calendario</div>
                </div>
            </a>
        </div>
    </div>
</div>




{% endblock %}