{% extends 'app/profesor/baseprofesor.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <h2>Registro de Asistencia</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N° Alumno</th>
                <th>Clase 1</th>
                <th>Clase 2</th>
                <th>Clase 3</th>
                <th>Clase 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Castillo Jiménez, Laura Daniela</td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <tr>
                <td>2. Castillo Rojas, Isabella Alejandra</td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
                <td class="checkbox-cell"><input type="checkbox"></td>
            </tr>
            <!-- Más filas de alumnos -->
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Guardar Asistencia</button>
</div>



{% endblock %}