{% extends 'app/profesor/baseprofesor.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <h2>Registro de Notas</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td><input type="number" name="asistencia_juan" value="nota1"></td>
                <td><input type="number" name="asistencia_juan" value="nota2"></td>
                <td><input type="number" name="asistencia_juan" value="nota3"></td>
            </tr>
            <tr>
                <td>María Gómez</td>
                <td><input type="number" name="asistencia_juan" value="nota1"></td>
                <td><input type="number" name="asistencia_juan" value="nota2"></td>
                <td><input type="number" name="asistencia_juan" value="nota3"></td>
            </tr>
            <tr>
                <td>Pedro Rodríguez</td>
                <td><input type="number" name="asistencia_juan" value="nota1"></td>
                <td><input type="number" name="asistencia_juan" value="nota2"></td>
                <td><input type="number" name="asistencia_juan" value="nota3"></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Guardar nota</button>
</div>



{% endblock %}