{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <a href="/anotaciones/" class="text-decoration-none">
                <div class="card bg-light">
                    <div class="card-footer">
                        pepito juane
                        <img src="https://via.placeholder.com/100" alt="Imagen del Alumno" class="mt-2">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



{% endblock %}