{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<h1>Modificación de Usuario</h1>

<div class="container-fluid">
    <div class="row">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Modificar</button>
        </form>

        {% if messages %}
            {% for msj in messages %}
                <script>
                    Swal.fire({
                        title: 'Guardado!',
                        text: '{{ msj }}',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 2000
                    });
                </script>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
