{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'adminusuariohome' %}" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/150" alt="Asistencia" class="card-img-top">
                    <div class="card-footer">Apartado de usuarios</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'admincursoshome' %}" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/150" alt="Asistencia" class="card-img-top">
                    <div class="card-footer">Apartado de cursos</div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/asistencia/" class="text-decoration-none">
                <div class="card bg-light">
                    <img src="https://via.placeholder.com/150" alt="Asistencia" class="card-img-top">
                    <div class="card-footer">Primero medio C</div>
                </div>
            </a>
        </div>
    </div>
</div>










{% endblock %}