{% extends 'base.html' %}

{% block title %}Anuncios de la Asignatura{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1>Anuncios para {{ subject.name }}</h1>

    <!-- Lista de Anuncios -->
    <div class="card mt-3">
        <div class="card-body">
            {% for announcement in announcements %}
                <div class="mb-3">
                    <h3>{{ announcement.title }}</h3>
                    <p>{{ announcement.content|safe }}</p>
                    <small>Publicado en: {{ announcement.created_at|date:"d/m/Y H:i" }}</small>
                </div>
            {% empty %}
                <p>No hay anuncios disponibles para esta asignatura.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
