{% extends 'base.html' %}
{% load static %}

{% block title %}Detalles de la Asignatura{% endblock title %}

{% block morestylesheet %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<style>
    .custom-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding: 2rem;
    }

    .custom-card:hover {
        transform: scale(1.05);
        box-shadow: 6px 10px 30px rgba(0, 0, 0, 0.15);
    }

    .custom-card .icon {
        font-size: 3rem;
    }
</style>
{% endblock morestylesheet %}

{% block content %}
<div class="max-w-7xl mx-auto mt-10 space-y-6">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">Detalles de la Asignatura: {{ subject.name }}</h1>

    <!-- Botones de Acción en Tarjetas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <a href="{% url 'content_list' subject.id %}" class="custom-card border-l-4 border-blue-500 bg-white shadow-md text-center hover:bg-blue-50">
            <i class="fas fa-folder-open icon text-blue-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Contenido</h4>
            <p class="text-sm text-gray-600">Consulta el material de la asignatura</p>
        </a>

        <a href="{% url 'student-calendar' subject.id %}" class="custom-card border-l-4 border-green-500 bg-white shadow-md text-center hover:bg-green-50">
            <i class="fas fa-calendar-alt icon text-green-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Calendario</h4>
            <p class="text-sm text-gray-600">Consulta el calendario de clases</p>
        </a>

        <a href="{% url 'student_announcements' subject.id %}" class="custom-card border-l-4 border-yellow-500 bg-white shadow-md text-center hover:bg-yellow-50">
            <i class="fas fa-bullhorn icon text-yellow-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Anuncios</h4>
            <p class="text-sm text-gray-600">Consulta los anuncios importantes</p>
        </a>
    </div>

</div>
{% endblock content %}
