{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container mt-5">
    <h1>Anotaciones para {{ alumno.primer_nombre }} {{ alumno.primer_apellido }}</h1>
    
    <!-- Botón para agregar una nueva anotación -->
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'profesorcrearanotacion' alumno.id curso.id %}" class="btn btn-primary">Agregar Anotación</a>
    </div>
    
    <div class="row">
        {% if anotaciones %}
            {% for anotacion in anotaciones %}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ anotacion.profesor.primer_nombre }} {{ anotacion.profesor.primer_apellido }}</h5>
                            <p class="card-text">Comentario: {{ anotacion.comentario }}</p>
                            <p class="card-text">Fecha: {{ anotacion.fecha|date:"d/m/Y" }}</p>
                            <p class="card-text">
                                {% if anotacion.positiva %}
                                    <span class="badge badge-success">Positiva</span>
                                {% else %}
                                    <span class="badge badge-danger">Negativa</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay anotaciones para este alumno.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
