{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container mt-5">
    <h1>Lista de Alumnos</h1>
    <div class="row">
        {% if alumnos %}
            {% for alumno in alumnos %}
                <div class="col-md-3 mb-4">
                    <a href="{% url 'profesobservaranotacion' alumno.id curso.id %}" class="text-decoration-none"> 
                        <div class="card">
                            <span class="star-icon">★</span>
                            <img src="https://via.placeholder.com/100" alt="Imagen del Alumno"> 
                            <div class="card-body">
                                <h5 class="card-title">{{ alumno.primer_nombre }} {{ alumno.primer_apellido }}</h5>
                                <p class="card-text">RUT: {{ alumno.rut }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay alumnos asignados.</p>
        {% endif %}
    </div>
</div>



{% endblock %}
