{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-end mb-3">
      <!-- Botón para agregar una nueva anotación, pasando el id del alumno y del curso -->
      <a href="{% url 'profesorcrearanotacion' alumno.id curso.id %}" class="btn btn-primary">Agregar Anotación</a>
    </div>
  
    {% for anotacion in anotaciones %}
    <div class="card" style="margin-bottom: 25px;">
      <div class="card-body">
        <!-- Anotación -->
        <div class="media">
          <div class="media-body">
            <h5 class="mt-0 d-flex justify-content-between">
              <span>Curso: {{ anotacion.curso.nombre }}</span>
              <!-- Mostrar si la anotación es positiva o negativa -->
              {% if anotacion.positiva %}
                <span class="badge badge-success badge-custom">Positiva</span>
              {% else %}
                <span class="badge badge-danger badge-custom">Negativa</span>
              {% endif %}
            </h5>
            <p><strong>Profesor:</strong> {{ anotacion.profesor.primer_nombre }} {{ anotacion.profesor.primer_apellido }}</p>
            <p><strong>Fecha:</strong> {{ anotacion.fecha|date:"d/m/Y" }}</p>
            <p><strong>Comentario:</strong> {{ anotacion.comentario }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    {% if not anotaciones %}
      <p>No hay anotaciones disponibles para este alumno.</p>
    {% endif %}
</div>
  

{% endblock %}
