{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container mt-5">
    <h1>Listado de Anuncios</h1>
    {% if es_profesor %}
        <div class="mb-4">
            <a href="{% url 'profesoragregaranuncio' curso.id %}" class="btn btn-success">Crear Nuevo Anuncio</a>
        </div>
    {% endif %}
    <div class="row">
        {% for anuncio in anuncio %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ anuncio.titulo }}</h5>
                    <p class="card-text">Asignatura: {{ anuncio.asignatura }}</p>
                    <p class="card-text">Profesor: {{ anuncio.profesor }}</p>
                    <p class="card-text">Fecha: {{ anuncio.fecha }}</p>
                    <p class="card-text">Comentarios: {{ anuncio.comentarios }}</p>
                    {% if anuncio.archivo %}
                        <a href="{{ anuncio.archivo.url }}" class="btn btn-warning">Ver contenido descargable</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}