{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<h2>Agregar Nuevo Curso</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Crear Curso</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'admincursolistar' %}" class="btn btn-secondary mt-3">Volver a la Lista de Cursos</a>
{% endblock %}
