{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Listado de Cursos</h1>
    <a href="{% url 'admincursoagregar' %}" class="btn btn-primary">Agregar Curso</a>  <!-- Botón para agregar curso -->
</div>

<!-- Formulario de filtros -->
<form method="get" class="mb-4">
    <div class="form-group">
        <label for="profesor">Filtrar por Profesor:</label>
        <select name="profesor" id="profesor" class="form-control">
            <option value="">Todos los Profesores</option>
            {% for profesor in profesores %}
            <option value="{{ profesor.id }}" {% if request.GET.profesor == profesor.id|stringformat:"s" %}selected{% endif %}>
                {{ profesor.primer_nombre }} {{ profesor.primer_apellido }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="materia">Filtrar por Curso:</label>
        <select name="materia" id="materia" class="form-control">
            <option value="">Todos los Cursos</option>
            {% for curso in todos_los_cursos %}
            <option value="{{ curso.id }}" {% if request.GET.materia == curso.id|stringformat:"s" %}selected{% endif %}>
                {{ curso.nombre }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Curso</th>
            <th>Profesor</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.profesor.primer_nombre }} {{ curso.profesor.primer_apellido }}</td>
            <td>{{ curso.fecha_inicio }}</td>
            <td>{{ curso.fecha_fin }}</td>
            <td>
                <a href="{% url 'admincursomodificar' curso.id %}" class="btn btn-info">Modificar</a>
                <a href="#" class="btn btn-danger" onclick="eliminarCurso({{ curso.id }})">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay cursos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
