{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container">
    <h2>Notas de los alumnos para el curso {{ curso.nombre }}</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nº Alumno</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Nota 4</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno, notas in alumnos_con_notas.items %}
            <tr>
                <td>{{ forloop.counter }}. {{ alumno.primer_apellido }}, {{ alumno.primer_nombre }}</td>
                <td>{{ notas.0.valor|default_if_none:"-" }}</td>  <!-- Nota 1 -->
                <td>{{ notas.1.valor|default_if_none:"-" }}</td>  <!-- Nota 2 -->
                <td>{{ notas.2.valor|default_if_none:"-" }}</td>  <!-- Nota 3 -->
                <td>{{ notas.3.valor|default_if_none:"-" }}</td>  <!-- Nota 4 -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay alumnos o notas registradas para este curso.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón general para redirigir a la vista 'agregarnota' solo con el curso -->
    <div class="mt-4">
        <a href="{% url 'agregarnota' curso.id %}" class="btn btn-primary">
            Agregar/Modificar Notas
        </a>
    </div>
</div>

{% endblock %}
