{% extends 'app/profesor/baseprofesor.html' %}
{% load static %}
{% block content %}

<h2 class="mt-5">Material de Estudio - {{ curso.nombre }}</h2>
<!-- Mostrar todas las unidades del curso -->
{% for unidad in unidades %}
<div class="unidad mt-4" data-toggle="collapse" data-target="#contenido{{ unidad.id }}">
    <div class="unidad-header p-3 mb-2 bg-light text-dark" style="cursor: pointer;">
        {{ unidad.nombre }}
        <i class="fas fa-chevron-down float-right"></i>
    </div>

    <div id="contenido{{ unidad.id }}" class="collapse">
        <div class="recursos p-3 bg-light">
            <!-- Lista de recursos de la unidad -->
            {% if unidad.recurso_set.all %}
                <ul>
                    {% for recurso in unidad.recurso_set.all %}
                    <li>
                        <a href="{{ recurso.archivo.url }}" download>{{ recurso.descripcion }}</a>
                        <i class="fas fa-download ml-2"></i>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay contenido disponible.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
