{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container mt-5">

  <div class="card" style="margin-bottom: 25px;">
    <div class="card-body">
      <!-- Anotación 1 -->
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0 d-flex justify-content-between">
            <span>Asignatura: Matemáticas</span>
            <span class="badge badge-success badge-custom">Positiva</span>
          </h5>
          <p><strong>Profesor:</strong> Carlos Pérez</p>
          <p><strong>Fecha:</strong> 12/09/2024</p>
          <p><strong>Comentario:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti incidunt in nisi, voluptatibus hic consequuntur provident quos earum non? Quia, dolores! Facere, ex impedit beatae incidunt voluptatem atque esse?</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 25px;">
    <div class="card-body">
      <!-- Anotación 1 -->
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0 d-flex justify-content-between">
            <span>Asignatura: Matemáticas</span>
            <span class="badge badge-danger badge-custom">Negativa</span>
          </h5>
          <p><strong>Profesor:</strong> Carlos Pérez</p>
          <p><strong>Fecha:</strong> 12/09/2024</p>
          <p><strong>Comentario:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti incidunt in nisi, voluptatibus hic consequuntur provident quos earum non? Quia, dolores! Facere, ex impedit beatae incidunt voluptatem atque esse?</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 25px;">
    <div class="card-body">
      <!-- Anotación 1 -->
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0 d-flex justify-content-between">
            <span>Asignatura: Matemáticas</span>
            <span class="badge badge-danger badge-custom">Negativa</span>
          </h5>
          <p><strong>Profesor:</strong> Carlos Pérez</p>
          <p><strong>Fecha:</strong> 12/09/2024</p>
          <p><strong>Comentario:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti incidunt in nisi, voluptatibus hic consequuntur provident quos earum non? Quia, dolores! Facere, ex impedit beatae incidunt voluptatem atque esse?</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 25px;">
    <div class="card-body">
      <!-- Anotación 1 -->
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0 d-flex justify-content-between">
            <span>Asignatura: Matemáticas</span>
            <span class="badge badge-danger badge-custom">Negativa</span>
          </h5>
          <p><strong>Profesor:</strong> Carlos Pérez</p>
          <p><strong>Fecha:</strong> 12/09/2024</p>
          <p><strong>Comentario:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti incidunt in nisi, voluptatibus hic consequuntur provident quos earum non? Quia, dolores! Facere, ex impedit beatae incidunt voluptatem atque esse?</p>

        </div>
      </div>
    </div>
  </div>

  <div class="card" style="margin-bottom: 25px;">
    <div class="card-body">
      <!-- Anotación 1 -->
      <div class="media">
        <div class="media-body">
          <h5 class="mt-0 d-flex justify-content-between">
            <span>Asignatura: Matemáticas</span>
            <span class="badge badge-danger badge-custom">Negativa</span>
          </h5>
          <p><strong>Profesor:</strong> Carlos Pérez</p>
          <p><strong>Fecha:</strong> 12/09/2024</p>
          <p><strong>Comentario:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti incidunt in nisi, voluptatibus hic consequuntur provident quos earum non? Quia, dolores! Facere, ex impedit beatae incidunt voluptatem atque esse?</p>

        </div>
      </div>
    </div>
  </div>

  

</div>
{% endblock %}
