{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div id="anuncio-alumno-section" class="container mt-5">
  <!-- Anuncio 1 -->
  <div class="card mb-4">
      <div class="card-body">
          <h1 class="card-title text-secondary font-weight-bold">Examen Final de Matemáticas</h1>
          <p class="card-text">
              <strong>Asignatura:</strong> Matemáticas<br>
              <strong>Profesor:</strong> Prof. Juan Pérez<br>
              <strong>Fecha:</strong> 14-09-2024<br>
              <strong>Comentarios:</strong> El examen final abarca todos los temas vistos en el semestre. Por favor, revisar los apuntes y guías proporcionadas. 
          </p>
          <a href="#" class="btn btn-primary">Ver contenido descargable</a>
      </div>
  </div>

  <!-- Anuncio 1 -->
  <div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title text-secondary font-weight-bold">Examen Final de Matemáticas</h1>
        <p class="card-text">
            <strong>Asignatura:</strong> Matemáticas<br>
            <strong>Profesor:</strong> Prof. Juan Pérez<br>
            <strong>Fecha:</strong> 14-09-2024<br>
            <strong>Comentarios:</strong> El examen final abarca todos los temas vistos en el semestre. Por favor, revisar los apuntes y guías proporcionadas. 
        </p>
        <a href="#" class="btn btn-primary">Ver contenido descargable</a>
    </div>
</div>

  <!-- Anuncio 1 -->
  <div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title text-secondary font-weight-bold">Examen Final de Matemáticas</h1>
        <p class="card-text">
            <strong>Asignatura:</strong> Matemáticas<br>
            <strong>Profesor:</strong> Prof. Juan Pérez<br>
            <strong>Fecha:</strong> 14-09-2024<br>
            <strong>Comentarios:</strong> El examen final abarca todos los temas vistos en el semestre. Por favor, revisar los apuntes y guías proporcionadas. 
        </p>
        <a href="#" class="btn btn-primary">Ver contenido descargable</a>
    </div>
</div>


</div>
{% endblock %}
