{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div id="basicsAccordion">
  {% for curso in cursos %}
    <!-- Card -->
    <div class="card mb-3">
      <div class="card-header card-collapse" id="basicsHeading{{ forloop.counter }}">
        <h5 class="mb-0">
          <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                  data-toggle="collapse"
                  data-target="#basicsCollapse{{ forloop.counter }}"
                  aria-expanded="true"
                  aria-controls="basicsCollapse{{ forloop.counter }}">
            {{ curso.nombre }}
            <span class="card-btn-arrow">
              <span class="fas fa-arrow-down small"></span>
            </span>
          </button>
        </h5>
      </div>

      <div id="basicsCollapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}"
           aria-labelledby="basicsHeading{{ forloop.counter }}"
           data-parent="#basicsAccordion">
        <div class="card-body">
          {% for clase in curso.clases.all %}
            <ul>
              {% for asistencia in clase.asistencias.all %}
                {% if asistencia.alumno.primer_nombre == request.user.primer_nombre and asistencia.alumno.primer_apellido == request.user.primer_apellido %}
                  <li>{{ asistencia.alumno.primer_nombre }} {{ asistencia.alumno.primer_apellido }} - {{ asistencia.get_estado_display }} ({{ asistencia.fecha }})</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- End Card -->
  {% endfor %}
</div>


{% endblock %}