<div class="card mb-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Ver anuncios</h5>
      <p class="card-text">Revisa los últimos anuncios de tus hijos</p>
      
    </div>
  </div>
  
  <div class="card mb-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Ver notas</h5>
      <p class="card-text">Infórmate sobre las notas de tus hijos</p>
      <a href="{% url 'view_results' %}?student_id={{ student.id }}" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  
  <div class="card mb-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Historial de pagos</h5>
      <p class="card-text">Consulta los pagos realizados para este estudiante</p>
      
    </div>
  </div>
  