
<!-- Ver Anuncios -->
<div class="card mb-3" style="width: 100%;">
  <div class="card-body">
      <h5 class="card-title">Ver anuncios</h5>
      <p class="card-text">Revisa los últimos anuncios de tus hijos</p>
      {% if student %}
          <a href="{% url 'representative_announcements' representative.id student.id %}" class="btn btn-primary">Ver más</a>
      {% else %}
          <p class="text-danger">No hay estudiantes asignados. Contacta al administrador para más información.</p>
      {% endif %}
  </div>
</div>


<!-- Ver Notas -->
<div class="card mb-3" style="width: 100%;">
  <div class="card-body">
      <h5 class="card-title">Ver notas</h5>
      <p class="card-text">Infórmate sobre las notas de tus hijos</p>
      {% if student %}
          <a href="{% url 'view_results' %}?student_id={{ student.id }}" class="btn btn-primary">Ver más</a>
      {% else %}
          <p class="text-danger">No hay estudiantes asignados.</p>
      {% endif %}
  </div>
</div>

<!-- Historial de Pagos -->
<div class="card mb-3" style="width: 100%;">
  <div class="card-body">
      <h5 class="card-title">Historial de pagos</h5>
      <p class="card-text">Consulta los pagos realizados para este estudiante</p>
      {% if student %}
          <a href="{% url 'student-payment-history' student.id %}" class="btn btn-primary">Ver más</a>
      {% else %}
          <p class="text-danger">No hay estudiantes asignados.</p>
      {% endif %}
  </div>
</div>
