{% extends 'base.html' %}
{% load static %}

{% block title %}Detalles de la Asignatura{% endblock title %}

{% block morestylesheet %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<style>
  .custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 2rem;
  }

  .custom-card:hover {
    transform: scale(1.05);
    box-shadow: 6px 10px 30px rgba(0, 0, 0, 0.15);
  }

  .custom-card .icon {
    font-size: 3rem;
  }
</style>
{% endblock morestylesheet %}

{% block content %}
<div id="subject-details-section" class="max-w-5xl mx-auto mt-10 space-y-4">
    <h3 class="text-2xl font-bold text-gray-800 text-center mb-6">Detalles de la Asignatura</h3>
    <p class="text-lg text-gray-600 text-center">Alumno: <strong>{{ student.nombres }} {{ student.apellido_paterno }}</strong></p>

    <!-- Cartas -->
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <a href="{% url 'representative_content' representative.id %}" class="custom-card border-l-4 border-blue-500 bg-white shadow-md text-center hover:bg-blue-50">
            <i class="fas fa-folder-open icon text-blue-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Contenidos</h4>
            <p class="text-sm text-gray-600">Accede a los materiales de la asignatura</p>
        </a>

        <a href="{% url 'representatives_calendar' selected_subject.id %}" class="custom-card border-l-4 border-green-500 bg-white shadow-md text-center hover:bg-green-50">
            <i class="fas fa-calendar-alt icon text-green-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Calendario</h4>
            <p class="text-sm text-gray-600">Consulta las fechas importantes</p>
        </a>

        <a href="{% url 'representative_annotation_list' representative.id student.id %}" class="custom-card border-l-4 border-yellow-500 bg-white shadow-md text-center hover:bg-yellow-50">
            <i class="fas fa-sticky-note icon text-yellow-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Anotaciones</h4>
            <p class="text-sm text-gray-600">Revisa las notas y comentarios</p>
        </a>

        <a href="{% url 'representative_announcements' representative.id student.id %}" class="custom-card border-l-4 border-red-500 bg-white shadow-md text-center hover:bg-red-50">
            <i class="fas fa-bullhorn icon text-red-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Anuncios</h4>
            <p class="text-sm text-gray-600">Mantente informado sobre las novedades</p>
        </a>

        <!-- Nueva tarjeta: Sección de pago -->
        <a href="{% url 'student-payment-history' student.id %}" class="custom-card border-l-4 border-indigo-500 bg-white shadow-md text-center hover:bg-indigo-50">
            <i class="fas fa-credit-card icon text-indigo-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Historial de Pagos</h4>
            <p class="text-sm text-gray-600">Consulta el historial de pagos del estudiante</p>
        </a>

        <a href="{% url 'student-grades' student.id %}" class="custom-card border-l-4 border-purple-500 bg-white shadow-md text-center hover:bg-purple-50">
            <i class="fas fa-graduation-cap icon text-purple-500 mb-4"></i>
            <h4 class="text-lg font-bold text-gray-800">Ver Notas</h4>
            <p class="text-sm text-gray-600">Consulta las notas y calificaciones de tu hijo</p>
        </a>

    </div>
</div>
{% endblock content %}

{% block morejs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
{% endblock morejs %}
