{% extends 'base.html' %}
{% load static %}

{% block title %}Detalles de la Asignatura{% endblock title %}

{% block morestylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<style>
  .dashboard-section {
      padding: 20px;
      border-radius: 8px;
      background-color: #f8f9fa;
      margin-bottom: 20px;
      text-align: center;
  }
  .dashboard-section h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
  }
</style>
{% endblock morestylesheet %}

{% block content %}
<p>Alumno  {{ student.nombres }} {{ student.apellido_paterno }}</p>


    <!-- Botones de Acción -->
    <a href="{% url 'representative_content' representative.id %}" class="btn btn-info">Ver Contenidos </a>
    <a href="{% url 'representatives_calendar' selected_subject.id %}" class="btn btn-primary">Ver calendario</a>
    <a href="{% url 'representative_annotation_list' representative.id student.id %}" class="btn btn-primary">Ver Anotaciones </a>
    <a href="{% url 'representative_announcements' representative.id  student.id %}" class="btn btn-primary">Ver Anuncios </a>



</div>
{% endblock content %}

{% block morejs %}
{% endblock morejs %}
